/* src/components/Sidebar.css */
.sidebar-container {
  /* ... mantenemos lo anterior ... */
  display: flex;
  justify-content: space-around;
  align-items: center; /* Centrado vertical */
  padding: 1.25rem 1rem 2rem 1rem; /* Más padding para que se vea más grande */
}

.sidebar-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem; /* Separación entre icono y texto */
}

.sidebar-icon {
  font-size: 2rem; /* Aumentamos el tamaño de 1.5rem a 2rem */
  transition: transform 0.2s;
}

.sidebar-btn:hover .sidebar-icon {
  transform: scale(1.1); /* Efecto de agrandado al pasar el mouse */
}